<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobloxToSourceEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RobloxToSourceEngine.Properties.Settings>
            <setting name="GameData" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="SelectedGame" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="GitPath" serializeAs="String">
                <value>CloneTrooper1019/Rbx2Source/master/resources</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>True</value>
            </setting>
        </RobloxToSourceEngine.Properties.Settings>
    </userSettings>
</configuration>