application/bin/Debug/RobloxToSourceEngine.pdb
application/bin/Debug/RobloxToSourceEngine.vshost.exe
application/bin/Debug/RobloxToSourceEngine.vshost.exe.config
application/bin/Debug/RobloxToSourceEngine.vshost.exe.manifest
application/bin/Debug/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.7/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.7/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.7/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.7/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.7/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.7/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.7/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.7/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.7/lib/netcore45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.7/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.7/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.7/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.7/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.7/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.7/Newtonsoft.Json.6.0.7.nupkg
packages/Newtonsoft.Json.6.0.7/tools/install.ps1
packages/VikingErik.LuaInterface.1.0.4213.34901/lib/net35/lua51.dll
packages/VikingErik.LuaInterface.1.0.4213.34901/lib/net35/LuaInterface.dll
packages/VikingErik.LuaInterface.1.0.4213.34901/lib/net35/VikingErik.LuaInterface.dll
packages/VikingErik.LuaInterface.1.0.4213.34901/VikingErik.LuaInterface.1.0.4213.34901.nupkg
Rbx2Source.v12.suo
application/obj/Debug/RobloxToSourceEngine.csprojResolveAssemblyReference.cache