<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Rbx2Source.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Rbx2Source.Properties.Settings>
            <setting name="SelectedGame" serializeAs="String">
                <value/>
            </setting>
            <setting name="CompilerType" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastAssetId" serializeAs="String">
                <value>44113968</value>
            </setting>
            <setting name="LastUserId" serializeAs="String">
                <value>62601805</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value>2.70.1</value>
            </setting>
        </Rbx2Source.Properties.Settings>
    </userSettings>
</configuration>
